name: PR Check
on: [pull_request]
concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  pr_check:
    runs-on: macos-15
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec danger
      - name: Test
        run: swift test

