name: PR Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  pr_check:
    name: PR Checks
    runs-on: macos-26
    if: github.event.pull_request.draft == false
    
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      
      - name: Install SwiftLint
        run: brew install swiftlint
      
      - name: SwiftLint
        run: swiftlint lint --strict
      
      - name: Test
        run: swift test

